<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Admin Login</h1>
    <h4>ENTER PASSWORD:</h4>
    <form onsubmit=matchPassword()>
            <input type="PASSWORD" placeholder="PASSWORD">
            <input type="submit" value="login">
    </form>
        


</body>
</html>